{{#if errorMessage}}
<p class="error-message">
{{ errorMessage }}
</p>
{{/if}}

<form action="/login" method="post">
<div>
<label for="email-input"> Email </label>
<input type="email" name="email" id="email-input"
placeholder="e.g., xena@warrior.company">
</div>

<div>
<label for="password-input"> Password </label>
<input type="password" name="password" id="password-input"
placeholder="e.g., ••••••••••••">
</div>

<button> Log In </button>
</form>

<p>
Don't have an account?
<a href="/signup">
Create an account.
</a>
</p>







{{!-- <form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form> --}}