<h2> Sign Up </h2>

{{#if errorMessage}}
<p class="error-message">
{{ errorMessage }}
</p>
{{/if}}

<form action="/signup" method="post">
<div>
<label for="name-input"> Name </label>
<input type="text" name="name" id="name-input"
placeholder="e.g., Diana Prince">
</div>

<div>
<label for="email-input"> Email </label>
<input type="email" name="email" id="email-input"
placeholder="e.g., diana@themyscira.agency">
</div>

<div>
<label for="password-input"> Password </label>
<input type="password" name="password" id="password-input"
placeholder="e.g., ••••••••••••">
</div>

<button> Create New Account </button>
</form>

<p>
Already have an account?
<a href="/login">
Log in.
</a>
</p>





{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>
  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Enter Username">

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="Enter Password">
  <br><br>

    <button>Create account</button>
  </form>
  <div>Image from layout.hbs </div>
  <footer>sign up page  localhost3000/sihnup</footer>
</body>
</html> --}}