<h1> The slick savvy shopper App</h1>

<h2>Error!</h2>
<h2> Jules girl, there is an error on the server! Check the console, pronto!</h2>


<img src="../images/slick-shopper-app.jpg" alt='Fashion show' height=500 width='700'>;