<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication)</a>
</div>
<div>
<img src="../images/slick-shopper-app.jpg" alt='Fashion show' height=500 width='700'>;
</div>