<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
  <footer>
          <div>
            <img src="../images/slick-shopper-app.jpg" alt='Fashion show' height=500 width='700'>;
            </div>
          <h2>official landing page! When app open localhost3000</h2>
  <p> Made with &hearts; by Juliet. </p>
  <h2>Google map will go here</h2>
  </footer>

    <script src='/javascripts/script.js'></script>
  </body>
</html>